<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap" rel="stylesheet">  
    <title>Landing Page</title>
</head>
<body>
  <!-- create two columns, one that has an login/sign up portal and one that has a logo and application description as per wireframe #1 -->
 <!-- <div class="container">
	<div class='col1'>
		<div class="col1-landing-page">
			<div class="col1-landing-page-container">
				<h1>Create and find recipes online!</h1>
				<img src='/images/logo.png' alt='landing page image'/>
			</div>
		</div>
	</div>
	<div class='col2'>
	  <div class='col2-container'>
		<div class="col2-continaer-buttons">
			<a href="/login" class='btn login'> Login</a>
			<a href="/signup" class='btn signup'> Signup</a>
		</div>
	  </div>
	</div>
  </div>
</body>
</html>
-->
<!-- create two columns, one that has an login/sign up portal and one that has a logo and application description as per wireframe #1 -->
  <div class="main-container">
	<div class="logo">
		<img src="/images/logo.png" alt="">
   </div>
	<div class='col1'>
		<div class="col1-landing-page">
			<div class="col1-landing-page-container">
				<h1>Create and find recipes online!</h1>
			
			</div>
		</div>
	</div>
	<div class='col2'>
	  <div class='col2-container'>
		<div class="col2-continaer-buttons">
			<a href="/login" class='btn login'> Login</a>
			<a href="/signup" class='btn signup'> Sign Up</a>
		</div>
	  </div>
	</div>
  </div>
</body>
</html>
  

