<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Landing Page</title>
</head>
<body class="bg-light text-dark p-5 text-center mh-100">
		<div class="container col-xl-10 col-xxl-8 px-2 py-3">
			<div class="d-sm-flex row-reverse align-items-center justify-content-around">
				<img class="img-fluid w-50" src="/images/green-index.jpeg" alt="Collard Greens">
				<div class="col">
					<h1>The <span class="text-success">Recipe Book</span></h1>
					<p>
						Join The Recipe Book to create and save your personal recipes.<br>
						Find the recipes you love and add them to your favourites so you can try them out later!
					</p>
					<div class="d-flex flex-column align-items-center">
						<a href="/login" class='btn btn-success btn-md w-20 mb-2'> Login</a>
						<p class="font-weight-bold mb-0">Don't have an account? Sign up below.</p>
						<a href="/signup" class='btn btn-success btn-md w-20 mb-2'> Sign Up</a>
					</div>
				</div>
			</div>
		</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
  

<!-- <div class="container d-flex align-items-center justify-content-center h-60">
	<div class="d-flex align-items-center">
		<div class="col">
			<img class="img-fluid w-100" src="/images/green-index.jpeg" alt="Collard Greens">
		</div>
		<div class="col flex-column">
			<h1 class="text-success d-flex justify-content-center">Create and find recipes online!</h1>
			<div class="col flex-column align-items-center">
				<div class="col d-flex justify-content-center">
					<a href="/login" class='btn alig'> Login</a>
				</div>
				<div class="col d-flex justify-content-center">
					<a href="/signup" class='btn'> Sign Up</a>
				</div>
			</div>
		</div>
	</div>
  </div> -->